/* universal selector used to remove the defaults attached to the browser */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'manrope', 'sans-serif';
}


/* root for root vairables that are assigned to the website */
/* root */
:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    /* this is the default font set for all things on the website */
}


/* css for the container */
.container {
    min-height: 100vh;
    background: var(--Light-Grayish-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* css for preview component */
.preview-component {
    margin: 0px 30px;
    display: flex;
    max-width: 900px;
    border-radius: 10px;
    position: relative;
}

/* css for drawer image */
.drawer-img-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}


.drawer-img {
    width: 100%;
    object-fit: cover;
    object-position: bottom left;
    height: 100%;
    display: block;
}

/* styling for the descrition */

.description {
    padding: 30px;
    background: white;
    max-width: 550px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-weight: 700 !important;
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    color: var(--Desaturated-Dark-Blue);
    margin-bottom: 20px;
}


/* this is the css for the avatar container and it's components */
.avatar-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
}



.avatar-info div:first-child {
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.avatar-info div:last-child {
    color: var(--Desaturated-Dark-Blue);
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* share container css */
.floating-button {
    background: var(--Very-Dark-Grayish-Blue);
    width: 270px;
    border-radius: 11px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    scale: 1;
    transform-origin: center bottom;
    transition: scale ease-in-out 250ms;
    top: -76px;
    left: -122px;
}


/* closed state for the floating tab */
.floating-button.close {
    scale: 0;
}

/* closed state for the floating tab */


.share {
    letter-spacing: 4px;
    color: white;
    color: #96A3B9;
}

.share-button {
    border-radius: 100%;
    position: relative;
    background: var(--Desaturated-Dark-Blue);
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.share-color {
    fill: white;
}

/* css for share button small screen */
.floating-button-small{
    background: var(--Very-Dark-Grayish-Blue);
    padding: 20px 35px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

.floating-button-small > div{
   width: 100%;
   max-width: 200px;
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: space-between;
}

.floating-button-small > div img{
    height: 25px;
    width: 25px;
}

.floating-button-small .share{
    font-size: 14px;
}

.share-button-small{
    border-radius: 100%;
    background: var(--Desaturated-Dark-Blue);
    width: 40px;
    height: 40px;
    border: none;
    aspect-ratio: 1/1;
}

/* this is the css for the triangle */
.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 15.5px 0 15.5px;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    bottom: -14px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

/* media query  */
@media screen and (max-width: 759px) {
    .preview-component {
        flex-direction: column;
        overflow: hidden;
    }

    .description {
        padding: 35px;
        padding-bottom: 20px;
        background: white;
        max-width: initial;
        border-radius: none;
    }

    .drawer-img-container {
        border-radius: unset;
        overflow: hidden;
    }

    .drawer-img {
        object-position: center center;
    }


    .floating-button{
        display: none;
    }


    .floating-button-small{
        display: flex;
        transform: translateY(100%);
        transition: all ease-in-out 250ms;
    }


    /* this is the open state css */
    .floating-button-small.open{
        transform: translateY(0);
    }
}


@media screen and (max-width: 550px){
    h1{
        font-size: 20px;
    }

    .avatar-info{
        font-size: 14px;
    }

    .floating-button-small > div img{
        height: 20px;
        width: 20px;
    }
    
}
/* media query  */